@model ProyectoMPLS.Models.Topologia.InlineLSPViewModel

<div class="list-group">

    @if (Model != null && Model.listaLSPs.Any())
    {
        foreach (var item in Model.listaLSPs)
        {
            <a data-modal="" href='@Url.Action("_EditarLSP", "Enrutamiento", new { idProyecto = item.idProyecto, idLSP = item.idLSP })' class="list-group-item">
                @Html.DisplayFor(modelItem => item.cNombre)
            </a>
        }
    }
    else
    {
        //Message to display no student record found.
    }


    

    
    
</div>

<a data-modal="" href='@Url.Action("_CrearLSP", "Enrutamiento", new { idProyecto = Model.idProyecto })' class="btn btn-default btn-block">Agregar Ruta Estática</a>
<a data-modal="" href='@Url.Action("_CrearCSPF", "Enrutamiento", new { idProyecto = Model.idProyecto })' class="btn btn-default btn-block">Agregar por CPSF</a>


<!-- Large modal -->
<button class="btn btn-default btn-block waves-effect waves-light m-t-10" data-toggle="modal" data-target=".bs-example-modal-lg">Agregar Ruta Estática</button>
