@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MPLS SIM</h1>
    <p class="lead">Lorem ipsum dolor sit amet, vim ad tibique convenire conceptam. Cu est rebum fastidii incorrupte, eam rebum labores id. Mei at enim porro veniam. Vide minimum scriptorem eum te, dico mnesarchum contentiones ad eos.</p>
    @Html.ActionLink("Registrarse >>", "Registrar", "Usuario", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Iniciar Sesión >>", "Login", "Usuario", null, new { @class = "btn btn-warning btn-lg" })
</div>

