@{
    ViewBag.Title = "Bienvenido";
}

<h2>¡Hola <b>@Context.User.Identity.Name</b>! Su cuenta ha sido creada exitosamente.</h2>

@Html.ActionLink("Ir al Dashboard", "Index", "Topologia", null, new { @class = "btn btn-purple btn-lg" })