@{
    ViewBag.Title = "Welcome";
}

<h2>Hi <b>@Context.User.Identity.Name</b>! Welcome to my website!</h2>

@Html.ActionLink("Go To Dashboard", "Index", "Topologia", null, new { @class = "btn btn-green btn-lg" })